name: Téléchargement d'Artéfacts

on:
  push:

jobs:
  create-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Créer un rapport
        run: echo "Rapport" > report.txt

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: rapport-analyse
          path: report.txt
