name: Exercice 8 - Workflow Programmable (Cron Job)

on:
  schedule:
    - cron: '0 8 * * *'

  workflow_dispatch:

jobs:
  daily-job:
    runs-on: ubuntu-latest

    steps:
      - name: Message journalier
        run: echo "Il est 8h du matin, le workflow planifié s'exécute automatiquement."
